# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
android/app/google-services.json
assets/hofcard.jpg
android/key.properties
android/key.properties
ios/Runner.xcarchive/dSYMs/absl.framework.dSYM/Contents/Info.plist
Signing Certificate.p12
ios/RunnerApp2/hofswap.ipa
ios/RunnerApp2/ExportOptions.plist
ios/RunnerApp2/DistributionSummary.plist
ios/RunnerApp/hofswap.ipa
ios/RunnerApp/ExportOptions.plist
ios/RunnerApp/DistributionSummary.plist
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftUIKit.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftQuartzCore.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftos.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftObjectiveC.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftMetal.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftFoundation.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftDispatch.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftDarwin.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftCoreMedia.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftCoreImage.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftCoreGraphics.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftCoreFoundation.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftCoreAudio.dylib
ios/Runner.xcarchive/SwiftSupport/iphoneos/libswiftCore.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Runner
ios/Runner.xcarchive/Products/Applications/Runner.app/PkgInfo
ios/Runner.xcarchive/Products/Applications/Runner.app/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/Toast.framework/Toast
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/Toast.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/Toast.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/sqflite.framework/sqflite
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/sqflite.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/sqflite.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/path_provider.framework/path_provider
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/path_provider.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/path_provider.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/openssl_grpc.framework/openssl_grpc
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/openssl_grpc.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/openssl_grpc.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/nanopb.framework/nanopb
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/nanopb.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/nanopb.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftUIKit.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftQuartzCore.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftos.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftObjectiveC.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftMetal.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftFoundation.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftDispatch.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftDarwin.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftCoreMedia.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftCoreImage.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftCoreGraphics.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftCoreFoundation.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftCoreAudio.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/libswiftCore.dylib
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/leveldb.framework/leveldb
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/leveldb.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/leveldb.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/GTMSessionFetcher.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/GTMSessionFetcher.framework/GTMSessionFetcher
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/GTMSessionFetcher.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/grpcpp.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/grpcpp.framework/grpcpp
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/grpcpp.framework/gRPCCertificates-Cpp.bundle/roots.pem
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/grpcpp.framework/gRPCCertificates-Cpp.bundle/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/grpcpp.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/grpc.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/grpc.framework/grpc
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/grpc.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/GoogleUtilities.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/GoogleUtilities.framework/GoogleUtilities
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/GoogleUtilities.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/FMDB.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/FMDB.framework/FMDB
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/FMDB.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/fluttertoast.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/fluttertoast.framework/fluttertoast
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/fluttertoast.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/Flutter.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/Flutter.framework/icudtl.dat
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/Flutter.framework/Flutter
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/FBLPromises.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/FBLPromises.framework/FBLPromises
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/FBLPromises.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/flutter_assets/assets/logo.png
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/flutter_assets/assets/hofcard2.jpg
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/App
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/absl.framework/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/absl.framework/absl
ios/Runner.xcarchive/Products/Applications/Runner.app/Frameworks/absl.framework/_CodeSignature/CodeResources
ios/Runner.xcarchive/Products/Applications/Runner.app/embedded.mobileprovision
ios/Runner.xcarchive/Products/Applications/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
ios/Runner.xcarchive/Products/Applications/Runner.app/Base.lproj/Main.storyboardc/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
ios/Runner.xcarchive/Products/Applications/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
ios/Runner.xcarchive/Products/Applications/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
ios/Runner.xcarchive/Products/Applications/Runner.app/Assets.car
ios/Runner.xcarchive/Products/Applications/Runner.app/AppIcon76x76@2x~ipad.png
ios/Runner.xcarchive/Products/Applications/Runner.app/AppIcon60x60@2x.png
ios/Runner.xcarchive/Products/Applications/Runner.app/AppFrameworkInfo.plist
ios/Runner.xcarchive/Products/Applications/Runner.app/_CodeSignature/CodeResources
ios/Runner.xcarchive/Info.plist
ios/Runner.xcarchive/dSYMs/Toast.framework.dSYM/Contents/Resources/DWARF/Toast
ios/Runner.xcarchive/dSYMs/Toast.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/sqflite.framework.dSYM/Contents/Resources/DWARF/sqflite
ios/Runner.xcarchive/dSYMs/sqflite.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/Runner.app.dSYM/Contents/Resources/DWARF/Runner
ios/Runner.xcarchive/dSYMs/Runner.app.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/path_provider.framework.dSYM/Contents/Resources/DWARF/path_provider
ios/Runner.xcarchive/dSYMs/path_provider.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/openssl_grpc.framework.dSYM/Contents/Resources/DWARF/openssl_grpc
ios/Runner.xcarchive/dSYMs/openssl_grpc.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/nanopb.framework.dSYM/Contents/Resources/DWARF/nanopb
ios/Runner.xcarchive/dSYMs/nanopb.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/leveldb.framework.dSYM/Contents/Resources/DWARF/leveldb
ios/Runner.xcarchive/dSYMs/leveldb.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/GTMSessionFetcher.framework.dSYM/Contents/Resources/DWARF/GTMSessionFetcher
ios/Runner.xcarchive/dSYMs/GTMSessionFetcher.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/grpcpp.framework.dSYM/Contents/Resources/DWARF/grpcpp
ios/Runner.xcarchive/dSYMs/grpcpp.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/grpc.framework.dSYM/Contents/Resources/DWARF/grpc
ios/Runner.xcarchive/dSYMs/grpc.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/GoogleUtilities.framework.dSYM/Contents/Resources/DWARF/GoogleUtilities
ios/Runner.xcarchive/dSYMs/GoogleUtilities.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/FMDB.framework.dSYM/Contents/Resources/DWARF/FMDB
ios/Runner.xcarchive/dSYMs/FMDB.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/fluttertoast.framework.dSYM/Contents/Resources/DWARF/fluttertoast
ios/Runner.xcarchive/dSYMs/fluttertoast.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/FBLPromises.framework.dSYM/Contents/Resources/DWARF/FBLPromises
ios/Runner.xcarchive/dSYMs/FBLPromises.framework.dSYM/Contents/Info.plist
ios/Runner.xcarchive/dSYMs/absl.framework.dSYM/Contents/Resources/DWARF/absl
